.main-product-detail{
  position: relative;
  width: 100%;
  min-width: 32rem;/*es el tamaño de cel mas chico*/
  height: auto;
  padding: 2rem 1rem;
  background-color: var(--warm-black);
}

.product-detail--batata-logo{
  position: absolute;
  width: 4rem;
  height: 2.5rem;
  top:-1rem;
  left:calc(50% - 2rem);
  background: url("../assets/icons/batata.svg");
}

.product-detail--title{
  width: 90%;
  min-width: 28.8rem;
  height: auto;
  margin: 0 auto;
  margin-top: 5rem;
  text-align: center;
}

.product-detail--title h2{
  margin-bottom: 2rem;
  font-size: 2.4rem;
  font-weight: bold;
  color: var(--just-white);
}

.product-detail--title p{
  margin-bottom: 2rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #808080;
}

.product-detail--card{
  width: 90%;
  min-width: 28.8rem;
  max-width: 40rem;
  height: 15rem;
  margin: 1.5rem auto;
  padding: 1.5rem;
  background-color: var(--black);
  border-radius: 0.5rem;
  box-shadow: 0 .4rem .8rem rgba(0,0,0,.16);
}

.product-detail--card .clock {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  margin: 0 auto;
  margin-bottom: 1rem;
  background-image: url("../assets/icons/clock.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.product-detail--card .eye {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  margin: 0 auto;
  margin-bottom: 1rem;
  background-image: url("../assets/icons/eye.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.product-detail--card .dollar {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  margin: 0 auto;
  margin-bottom: 1rem;
  background-image: url("../assets/icons/dollar-sign.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.product-detail--card .check {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  margin: 0 auto;
  margin-bottom: 1rem;
  background-image: url("../assets/icons/check-circle.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.product--card_title {
  margin-bottom: 15px;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.8rem;
  color: var(--just-white);
}
.product--card_body {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #808080;
}