.currency-table--container{
  width: 90%;
  min-width: 230px;
  max-width: 300px;
  height: 250px;
  margin: 0 auto;
  /* background-color: #fff; */
  border-radius: 15px;
}

.currency-table--row{
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  margin: 0 auto;
}

.currency-table--row--name{
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.6rem;
  color: #757575;
  text-align: left;
  margin-left: 2rem;
}

.currency-table--row--price{
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.7rem;
  color: #757575;
}
.currency-table--row--up{
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 10px;
  background: url("../assets/icons/trending-up.svg") center/cover;
}

.currency-table--row--down{
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 10px;
  background: url("../assets/icons/trending-down.svg") center/cover;
}